@model Project_PicturesGalleryPlatform.Models.Member
@{
    ViewData["Title"] = "Home Page";
}

<head>
    
    <link rel="stylesheet" href="~/css/Register.css" media="screen">
</head>

<section class="u-align-left u-clearfix u-container-align-left u-image u-shading u-section-1" id="sec-4f84">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-align-left u-text u-text-default u-title u-text-1">創建帳戶 </h1>
        <p class="u-align-left u-large-text u-text u-text-variant u-text-2">創建一個帳號，你能享有更多的會員專屬權利...</p>
        <a href="#" class="u-align-left u-btn u-button-style u-palette-2-base u-btn-1">瞭解更多 </a>
    </div>
</section>
<section class="u-clearfix u-container-align-center u-grey-60 u-section-2" id="sec-cdf8">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-28 u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-align-left u-container-style u-image u-layout-cell u-right-cell u-shape-rectangle u-size-60 u-image-1"
                         data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                        <div class="u-container-layout u-container-layout-1">
                            <h2 class="u-align-center u-text u-text-1">註冊會員 </h2>
                            <div class="u-form u-form-1">

                                <form asp-action="Register" method="post" id="registerForm">
                                    <div class="u-form-group u-form-name u-label-none u-form-group-3">
                                        <label for="name-9558" class="u-label">First Name</label>
                                        <input type="text" placeholder="輸入名字" id="name-9558" name="name"
                                               class="u-input u-input-rectangle" required="">
                                        <span class="text-danger" asp-validation-for="name"></span>
                                    </div>
                                    <br />
                                    <div class="u-form-group u-form-name u-label-none u-form-group-3">
                                        <label for="name-125c" class="u-label">Name</label>
                                        <input type="text" placeholder="輸入使用者帳號" id="name-125c" name="account"
                                               class="u-input u-input-rectangle" required="">
                                        <span class="text-danger" asp-validation-for="account"></span>
                                    </div>
                                    <br />
                                    <div class="u-form-email u-form-group u-label-none">
                                        <label for="email-6797" class="u-label">Email</label>
                                        <input type="email" placeholder="Email" id="email-6797" name="email"
                                               class="u-input u-input-rectangle" required="">
                                        <span class="text-danger" asp-validation-for="email"></span>
                                    </div>
                                    <br />
                                    <div class="u-form-group u-label-none u-form-group-5">
                                        <label for="text-ef9e" class="u-label">Input</label>
                                        <input type="password" placeholder="輸入密碼" id="text-ef9e" name="password"
                                               class="u-input u-input-rectangle" required="required">
                                        <span class="text-danger" asp-validation-for="password"></span>
                                    </div>
                                    <br />
                                    <div class="u-form-group u-label-none u-form-group-6">
                                        <label for="text-6f13" class="u-label">Input</label>
                                        <input type="password" placeholder="再次輸入密碼" id="text-6f13" name="passwordConfirm"
                                               class="u-input u-input-rectangle" required="required">
                                        <span class="text-danger" asp-validation-for="passwordConfirm"></span>
                                    </div>
                                    <br />
                                    <div class="u-align-left u-form-group u-form-submit">

                                        <button type="submit" class="u-btn001">提  交</button>

                                    </div>
                                   
                                   
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {

<script src="@Url.Content("~/js/validation.js")"></script>

}