@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<head>
    <link rel="stylesheet" href="~/css/singlePic.css" media="screen" />
</head>
<section class="u-clearfix u-section-1" id="sec-3197">
    <div class="u-clearfix u-sheet u-sheet-1">
        <!--product--><!--product_options_json--><!--{"source":"5"}--><!--/product_options_json-->
        <div class="u-container-style u-expanded-width u-product u-product-1"
             data-products-datasource="site"
             data-product-id="5">
            <div class="u-container-layout u-container-layout-1">
                <!--product_image-->
                <img alt=""
                     class="u-image u-image-contain u-image-default u-product-control u-image-1"
                     data-image-width="2000"
                     data-image-height="1333"
                     src="images/6f461f60.svg" /><!--/product_image--><!--product_title-->
                <h2 class="u-product-control u-text u-text-default u-text-1">
                    圖片的名稱
                </h2>
                <!--/product_title--><!--product_price-->
                <div data-add-zero-cents="true"
                     class="u-product-control u-product-price u-product-price-1">
                    <div class="u-price-wrapper u-spacing-10">
                        <!--product_old_price-->
                        <div class="u-old-price"
                             style="text-decoration: line-through !important">
                            $10.00
                        </div>
                        <!--/product_old_price--><!--product_regular_price-->
                        <div class="u-price u-text-palette-2-base"
                             style="font-size: 1.5rem; font-weight: 700">
                            $7.00
                        </div>
                        <!--/product_regular_price-->
                    </div>
                </div>
                <!--/product_price-->
                <div class="u-border-3 u-border-grey-dark-1 u-line u-line-horizontal u-line-1"></div>
                <!--product_description-->
                <div class="u-product-control u-product-full-desc u-text u-text-2">
                    圖片的敘述圖片的敘述圖片的敘述圖片的敘述圖片的敘述圖片的敘述圖片的敘述圖片的敘述圖片的敘述圖片的敘述
                </div>
                <!--/product_description--><!--product_button--><!--options_json--><!--{"clickType":"buy-now","content":"加入我的最愛​"}--><!--/options_json-->
                <a href="#sec-2442"
                   class="u-border-2 u-border-black u-btn u-button-style u-hover-black u-none u-product-control u-btn-1 u-dialog-link u-payment-button"
                   data-animation-name=""
                   data-animation-duration="0"
                   data-animation-delay="0"
                   data-animation-direction=""
                   data-product-button-click-type="buy-now"
                   data-product-id="5"
                   data-product='{"id":"5","name":"-----","title":"圖片的名稱","description":"圖片的敘述","fullDescription":"圖片的敘述圖片的敘述圖片的敘述圖片的敘述圖片的敘述圖片的敘述圖片的敘述圖片的敘述圖片的敘述圖片的敘述","price":"7","oldPrice":"10","quantity":1,"currency":"USD","sku":"","outOfStock":false,"isFeatured":false,"categories":[],"images":[{"url":"images/6f461f60.svg"}],"created":1733999548125,"updated":1734357654083,"isDefault":true,"categoriesData":[{"link":"./products/products.html#/1///","title":"Uncategorized"}]}'>
                    <!--product_button_content-->加入我的最愛
                    <!--/product_button_content-->
                </a><!--/product_button--><!--product_button--><!--options_json--><!--{"clickType":"buy-now","content":"加入購物車​"}--><!--/options_json-->
                <a href="#sec-2442"
                   class="u-border-2 u-border-black u-btn u-button-style u-hover-black u-none u-product-control u-text-black u-text-hover-white u-btn-2 u-dialog-link u-payment-button"
                   data-animation-name=""
                   data-animation-duration="0"
                   data-animation-delay="0"
                   data-animation-direction=""
                   data-product-button-click-type="buy-now"
                   data-product-id="5"
                   data-product='{"id":"5","name":"-----","title":"圖片的名稱","description":"圖片的敘述","fullDescription":"圖片的敘述圖片的敘述圖片的敘述圖片的敘述圖片的敘述圖片的敘述圖片的敘述圖片的敘述圖片的敘述圖片的敘述","price":"7","oldPrice":"10","quantity":1,"currency":"USD","sku":"","outOfStock":false,"isFeatured":false,"categories":[],"images":[{"url":"images/6f461f60.svg"}],"created":1733999548125,"updated":1734357654083,"isDefault":true,"categoriesData":[{"link":"./products/products.html#/1///","title":"Uncategorized"}]}'>
                    <!--product_button_content-->加入購物車
                    <!--/product_button_content-->
                </a><!--/product_button-->
            </div>
        </div>
        <!--/product-->
    </div>
</section>