


<form asp-action="Upload" enctype="multipart/form-data">
    <input type="file" name="file" /><br />
    <p>
        請輸入圖片標題
        <input type="text" name="title" />
    </p>
    <p>
        請輸入圖片tag標籤
        <input type="text" name="tag" />
    </p>
    <input type="submit" value="上傳文件" />
</form>
