 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('../images/bg.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1048px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  text-shadow: 0px 0px 8px rgba(128,128,128,1);
  margin: 60px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 13.5px));
  min-height: 1058px;
  grid-gap: 18px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 20px 30px;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-image-1 {
  height: 208px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-text-3 {
  font-style: italic;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  transition-duration: 0.5s;
  margin: 19px auto 0;
  padding: 0;
}

.u-section-1 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 20px 30px;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-image-2 {
  height: 208px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-text-5 {
  font-style: italic;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  transition-duration: 0.5s;
  margin: 19px auto 0;
  padding: 0;
}

.u-section-1 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 20px 30px;
}

.u-section-1 .u-text-6 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-image-3 {
  height: 208px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-text-7 {
  font-style: italic;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  transition-duration: 0.5s;
  margin: 19px auto 0;
  padding: 0;
}

.u-section-1 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-1 .u-container-layout-4 {
  padding: 20px 20px 30px;
}

.u-section-1 .u-text-8 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-image-4 {
  height: 208px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-text-9 {
  font-style: italic;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-4 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  transition-duration: 0.5s;
  margin: 19px auto 0;
  padding: 0;
}

.u-section-1 .u-list-item-5 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-1 .u-container-layout-5 {
  padding: 20px 20px 30px;
}

.u-section-1 .u-text-10 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-image-5 {
  height: 208px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-text-11 {
  font-style: italic;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-5 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  transition-duration: 0.5s;
  margin: 19px auto 0;
  padding: 0;
}

.u-section-1 .u-list-item-6 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-1 .u-container-layout-6 {
  padding: 20px 20px 30px;
}

.u-section-1 .u-text-12 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-image-6 {
  height: 208px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-text-13 {
  font-style: italic;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-6 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  transition-duration: 0.5s;
  margin: 19px auto 0;
  padding: 0;
}

.u-section-1 .u-list-item-7 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-1 .u-container-layout-7 {
  padding: 20px 20px 30px;
}

.u-section-1 .u-text-14 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-image-7 {
  height: 208px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-text-15 {
  font-style: italic;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-7 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  transition-duration: 0.5s;
  margin: 19px auto 0;
  padding: 0;
}

.u-section-1 .u-list-item-8 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-1 .u-container-layout-8 {
  padding: 20px 20px 30px;
}

.u-section-1 .u-text-16 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-image-8 {
  height: 208px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-text-17 {
  font-style: italic;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-8 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  transition-duration: 0.5s;
  margin: 19px auto 0;
  padding: 0;
}

.u-section-1 .u-list-item-9 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-1 .u-container-layout-9 {
  padding: 20px 20px 30px;
}

.u-section-1 .u-text-18 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-image-9 {
  height: 208px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-text-19 {
  font-style: italic;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-9 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  transition-duration: 0.5s;
  margin: 19px auto 0;
  padding: 0;
}

.u-section-1 .u-list-item-10 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-1 .u-container-layout-10 {
  padding: 20px 20px 30px;
}

.u-section-1 .u-text-20 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-image-10 {
  height: 208px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-text-21 {
  font-style: italic;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-10 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  transition-duration: 0.5s;
  margin: 19px auto 0;
  padding: 0;
}

.u-section-1 .u-list-item-11 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-1 .u-container-layout-11 {
  padding: 20px 20px 30px;
}

.u-section-1 .u-text-22 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-image-11 {
  height: 208px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-text-23 {
  font-style: italic;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-11 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  transition-duration: 0.5s;
  margin: 19px auto 0;
  padding: 0;
}

.u-section-1 .u-list-item-12 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-1 .u-container-layout-12 {
  padding: 20px 20px 30px;
}

.u-section-1 .u-text-24 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-image-12 {
  height: 208px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-text-25 {
  font-style: italic;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-12 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  transition-duration: 0.5s;
  margin: 19px auto 0;
  padding: 0;
}

.u-section-1 .u-text-26 {
  font-size: 1rem;
  font-style: italic;
  width: 459px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 39px auto 60px;
}

.u-section-1 .u-btn-13 {
  font-style: italic;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 864px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 870px;
  }

  .u-section-1 .u-image-1 {
    height: 166px;
  }

  .u-section-1 .u-image-2 {
    height: 166px;
  }

  .u-section-1 .u-image-3 {
    height: 166px;
  }

  .u-section-1 .u-image-4 {
    height: 166px;
  }

  .u-section-1 .u-image-5 {
    height: 166px;
  }

  .u-section-1 .u-image-6 {
    height: 166px;
  }

  .u-section-1 .u-image-7 {
    height: 166px;
  }

  .u-section-1 .u-image-8 {
    height: 166px;
  }

  .u-section-1 .u-image-9 {
    height: 166px;
  }

  .u-section-1 .u-image-10 {
    height: 166px;
  }

  .u-section-1 .u-image-11 {
    height: 166px;
  }

  .u-section-1 .u-image-12 {
    height: 166px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 662px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9px));
    min-height: 2733px;
  }

  .u-section-1 .u-image-1 {
    height: 272px;
  }

  .u-section-1 .u-image-2 {
    height: 272px;
  }

  .u-section-1 .u-image-3 {
    height: 272px;
  }

  .u-section-1 .u-image-4 {
    height: 272px;
  }

  .u-section-1 .u-image-5 {
    height: 272px;
  }

  .u-section-1 .u-image-6 {
    height: 272px;
  }

  .u-section-1 .u-image-7 {
    height: 272px;
  }

  .u-section-1 .u-image-8 {
    height: 272px;
  }

  .u-section-1 .u-image-9 {
    height: 272px;
  }

  .u-section-1 .u-image-10 {
    height: 272px;
  }

  .u-section-1 .u-image-11 {
    height: 272px;
  }

  .u-section-1 .u-image-12 {
    height: 272px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 497px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-1 {
    height: 442px;
  }

  .u-section-1 .u-image-2 {
    height: 442px;
  }

  .u-section-1 .u-image-3 {
    height: 442px;
  }

  .u-section-1 .u-image-4 {
    height: 442px;
  }

  .u-section-1 .u-image-5 {
    height: 442px;
  }

  .u-section-1 .u-image-6 {
    height: 442px;
  }

  .u-section-1 .u-image-7 {
    height: 442px;
  }

  .u-section-1 .u-image-8 {
    height: 442px;
  }

  .u-section-1 .u-image-9 {
    height: 442px;
  }

  .u-section-1 .u-image-10 {
    height: 442px;
  }

  .u-section-1 .u-image-11 {
    height: 442px;
  }

  .u-section-1 .u-image-12 {
    height: 442px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 313px;
  }

  .u-section-1 .u-image-1 {
    height: 283px;
  }

  .u-section-1 .u-image-2 {
    height: 283px;
  }

  .u-section-1 .u-image-3 {
    height: 283px;
  }

  .u-section-1 .u-image-4 {
    height: 283px;
  }

  .u-section-1 .u-image-5 {
    height: 283px;
  }

  .u-section-1 .u-image-6 {
    height: 283px;
  }

  .u-section-1 .u-image-7 {
    height: 283px;
  }

  .u-section-1 .u-image-8 {
    height: 283px;
  }

  .u-section-1 .u-image-9 {
    height: 283px;
  }

  .u-section-1 .u-image-10 {
    height: 283px;
  }

  .u-section-1 .u-image-11 {
    height: 283px;
  }

  .u-section-1 .u-image-12 {
    height: 283px;
  }

  .u-section-1 .u-text-26 {
    width: 340px;
  }
}