@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<head>
    <link rel="stylesheet" href="~/css/Thank-You-Page-Template.css" media="screen" />
</head>
<section class="u-align-center u-clearfix u-container-align-center u-section-1"
         id="sec-c1aa">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h2 class="u-align-center u-text u-text-default u-text-1">
            Thank you for your order
        </h2>
        <p class="u-align-center u-text u-text-default u-text-2">
            Sample text. Click to select the Text Element.
        </p>
    </div>
</section>