@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/animal.css" media="screen">
</head>
<section class="u-align-center u-clearfix u-container-align-center u-grey-80 u-section-1" id="sec-7cd4">
    <div class="u-expanded-width u-gallery u-layout-grid u-lightbox u-no-transition u-show-text-on-hover u-gallery-1">
        <div class="u-gallery-inner u-gallery-inner-1">
            <div class="u-effect-fade u-gallery-item u-gallery-item-1">
                <div class="u-back-slide" data-image-width="1280" data-image-height="853">
                    <img class="u-back-image u-expanded" src="~/images/photo-1556740772-1a741367b93e.jpeg">
                </div>
                <div class="u-over-slide u-shading u-over-slide-1"></div>
            </div>
            <div class="u-effect-fade u-gallery-item u-gallery-item-2">
                <div class="u-back-slide" data-image-width="1280" data-image-height="853">
                    <img class="u-back-image u-expanded" src="~/images/photo-1487958449943-2429e8be8625.jpeg">
                </div>
                <div class="u-over-slide u-shading u-over-slide-2"></div>
            </div>
            <div class="u-effect-fade u-gallery-item u-gallery-item-3">
                <div class="u-back-slide" data-image-width="1200" data-image-height="1500">
                    <img class="u-back-image u-expanded" src="~/images/pexels-photo-3443934.jpeg">
                </div>
                <div class="u-over-slide u-shading u-over-slide-3"></div>
            </div>
            <div class="u-effect-fade u-gallery-item">
                <div class="u-back-slide" data-image-width="1280" data-image-height="851">
                    <img class="u-back-image u-expanded" src="~/images/photo-1506152983158-b4a74a01c721.jpeg">
                </div>
                <div class="u-over-slide u-shading u-over-slide-4"></div>
            </div>
            <div class="u-effect-fade u-gallery-item">
                <div class="u-back-slide" data-image-width="815" data-image-height="1280">
                    <img class="u-back-image u-expanded" src="~/images/photo-1495385794356-15371f348c31.jpeg">
                </div>
                <div class="u-over-slide u-shading u-over-slide-5"></div>
            </div>
            <div class="u-effect-fade u-gallery-item">
                <div class="u-back-slide" data-image-width="2000" data-image-height="1333">
                    <img class="u-back-image u-expanded"
                         src="~/images/low-angle-shot-tall-high-rise-modern-business-building-with-clear-sky.jpg">
                </div>
                <div class="u-over-slide u-shading u-over-slide-6"></div>
            </div>
            <div class="u-effect-fade u-gallery-item">
                <div class="u-back-slide" data-image-width="1280" data-image-height="853">
                    <img class="u-back-image u-expanded" src="~/images/photo-1463100099107-aa0980c362e6.jpeg">
                </div>
                <div class="u-over-slide u-shading u-over-slide-7"></div>
            </div>
            <div class="u-effect-fade u-gallery-item">
                <div class="u-back-slide" data-image-width="1280" data-image-height="1707">
                    <img class="u-back-image u-expanded" src="~/images/pexels-toms-monteiro-4107897.jpg">
                </div>
                <div class="u-over-slide u-shading u-over-slide-8"></div>
            </div>
            <div class="u-effect-fade u-gallery-item">
                <div class="u-back-slide" data-image-width="1280" data-image-height="853">
                    <img class="u-back-image u-expanded" src="~/images/pexels-alexander-isreb-1797418.jpg">
                </div>
                <div class="u-over-slide u-shading u-over-slide-9"></div>
            </div>
            <div class="u-effect-fade u-gallery-item">
                <div class="u-back-slide" data-image-width="1280" data-image-height="854">
                    <img class="u-back-image u-expanded" src="~/images/photo-1544957992-20514f595d6f.jpeg">
                </div>
                <div class="u-over-slide u-shading u-over-slide-10"></div>
            </div>
            <div class="u-effect-fade u-gallery-item">
                <div class="u-back-slide" data-image-width="2000" data-image-height="1333">
                    <img class="u-back-image u-expanded" src="~/images/bussiness-people-working-team-office.jpg">
                </div>
                <div class="u-over-slide u-shading u-over-slide-11"></div>
            </div>
            <div class="u-effect-fade u-gallery-item">
                <div class="u-back-slide" data-image-width="853" data-image-height="1280">
                    <img class="u-back-image u-expanded" src="~/images/photo-1491545437994-ebc9551b87d7.jpeg">
                </div>
                <div class="u-over-slide u-shading u-over-slide-12"></div>
            </div>
        </div>
    </div>
</section>