@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/scenery.css" media="screen">
</head>

<section class="u-align-center u-clearfix u-container-align-center u-valign-top-md u-section-1" id="carousel_c15e"
         data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
    <div class="u-container-align-center u-container-style u-expanded-width u-grey-5 u-group u-shape-rectangle u-group-1">
        <div class="u-container-layout u-valign-top u-container-layout-1">
            <h2 class="u-align-center u-text u-text-default u-text-1" data-animation-name="customAnimationIn"
                data-animation-duration="1500">
                風景
            </h2>
            <p class="u-align-center u-text u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1500"
               data-animation-delay="500">風景（預留位）</p>
        </div>
    </div>
    <div class="u-list u-list-1">
        <div class="u-repeater u-repeater-1">
            <div class="u-align-left u-container-align-left u-container-style u-image u-list-item u-repeater-item u-shading u-image-1"
                 src="" data-image-width="1800" data-image-height="1029" data-animation-name="customAnimationIn"
                 data-animation-duration="1500" data-animation-delay="500">
                <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-2">
                    <div class="u-align-center u-black u-container-align-center u-container-style u-expanded-width u-group u-opacity u-opacity-60 u-group-2"
                         data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
                        <div class="u-container-layout u-valign-middle u-container-layout-3">
                            <h6 class="u-text u-text-3">圖片敘述，評級.......等</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="u-align-left u-container-align-left u-container-style u-image u-list-item u-repeater-item u-shading u-image-2"
                 src="" data-image-width="900" data-image-height="900" data-animation-name="customAnimationIn"
                 data-animation-duration="1500" data-animation-delay="500">
                <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-4">
                    <div class="u-align-center u-black u-container-align-center u-container-style u-expanded-width u-group u-opacity u-opacity-60 u-group-3"
                         data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
                        <div class="u-container-layout u-valign-middle u-container-layout-5">
                            <h6 class="u-text u-text-4"> 圖片敘述，評級.......等</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="u-align-left u-container-align-left u-container-style u-image u-list-item u-repeater-item u-shading u-image-3"
                 src="" data-image-width="900" data-image-height="900" data-animation-name="customAnimationIn"
                 data-animation-duration="1500" data-animation-delay="500">
                <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-6">
                    <div class="u-align-center u-black u-container-align-center u-container-style u-expanded-width u-group u-opacity u-opacity-60 u-group-4"
                         data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
                        <div class="u-container-layout u-valign-middle u-container-layout-7">
                            <h6 class="u-text u-text-5"> 圖片敘述，評級.......等</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="u-align-left u-container-align-left u-container-style u-image u-list-item u-repeater-item u-shading u-image-4"
                 src="" data-image-width="1380" data-image-height="920" data-animation-name="customAnimationIn"
                 data-animation-duration="1500" data-animation-delay="750">
                <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-8">
                    <div class="u-align-center u-black u-container-align-center u-container-style u-expanded-width u-group u-opacity u-opacity-60 u-group-5"
                         data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
                        <div class="u-container-layout u-valign-middle u-container-layout-9">
                            <h6 class="u-text u-text-6"> 圖片敘述，評級.......等</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="u-align-left u-container-align-left u-container-style u-image u-list-item u-repeater-item u-shading u-image-5"
                 src="" data-image-width="1380" data-image-height="920" data-animation-name="customAnimationIn"
                 data-animation-duration="1500" data-animation-delay="750">
                <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-10">
                    <div class="u-align-center u-black u-container-align-center u-container-style u-expanded-width u-group u-opacity u-opacity-60 u-group-6"
                         data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
                        <div class="u-container-layout u-valign-middle u-container-layout-11">
                            <h6 class="u-text u-text-7"> 圖片敘述，評級.......等</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="u-align-left u-container-align-left u-container-style u-image u-list-item u-repeater-item u-shading u-image-6"
                 src="" data-image-width="1380" data-image-height="920" data-animation-name="customAnimationIn"
                 data-animation-duration="1500" data-animation-delay="750">
                <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-12">
                    <div class="u-align-center u-black u-container-align-center u-container-style u-expanded-width u-group u-opacity u-opacity-60 u-group-7"
                         data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
                        <div class="u-container-layout u-valign-middle u-container-layout-13">
                            <h6 class="u-text u-text-8"> 圖片敘述，評級.......等</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="u-align-left u-container-align-left u-container-style u-image u-list-item u-repeater-item u-shading u-image-7"
                 src="" data-image-width="1500" data-image-height="1000" data-animation-name="customAnimationIn"
                 data-animation-duration="1500" data-animation-delay="1000">
                <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-14">
                    <div class="u-align-center u-black u-container-align-center u-container-style u-expanded-width u-group u-opacity u-opacity-60 u-group-8"
                         data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
                        <div class="u-container-layout u-valign-middle u-container-layout-15">
                            <h6 class="u-text u-text-9"> 圖片敘述，評級.......等</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="u-align-left u-container-align-left u-container-style u-image u-list-item u-repeater-item u-shading u-image-8"
                 src="" data-image-width="1380" data-image-height="920" data-animation-name="customAnimationIn"
                 data-animation-duration="1500" data-animation-delay="1000">
                <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-16">
                    <div class="u-align-center u-black u-container-align-center u-container-style u-expanded-width u-group u-opacity u-opacity-60 u-group-9"
                         data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
                        <div class="u-container-layout u-valign-middle u-container-layout-17">
                            <h6 class="u-text u-text-10"> 圖片敘述，評級.......等</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="u-align-left u-container-align-left u-container-style u-image u-list-item u-repeater-item u-shading u-image-9"
                 src="" data-image-width="1980" data-image-height="1131" data-animation-name="customAnimationIn"
                 data-animation-duration="1500" data-animation-delay="1000">
                <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-18">
                    <div class="u-align-center u-black u-container-align-center u-container-style u-expanded-width u-group u-opacity u-opacity-60 u-group-10"
                         data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
                        <div class="u-container-layout u-valign-middle u-container-layout-19">
                            <h6 class="u-text u-text-11"> 圖片敘述，評級.......等</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-container-align-center u-valign-middle u-section-2" id="carousel_6b13">
    <h2 class="u-align-center u-text u-text-default u-text-1" data-animation-name="customAnimationIn"
        data-animation-duration="1500" data-animation-delay="500">
        風景
    </h2>
    <div class="u-expanded-width u-gallery u-layout-horizontal u-lightbox u-no-transition u-show-text-none u-width-fixed u-gallery-1">
        <div class="u-gallery-inner u-gallery-inner-1">
            <div class="u-effect-hover-zoom u-gallery-item u-gallery-item-1">
                <div class="u-back-slide" data-image-width="996" data-image-height="996">
                    <img class="u-back-image u-back-image-1" src="~/images/modern-styled-entryway_23-2150695943.jpeg">
                </div>
                <div class="u-over-slide u-shading u-over-slide-1"></div>
            </div>
            <div class="u-effect-hover-zoom u-gallery-item u-gallery-item-2">
                <div class="u-back-slide" data-image-width="1500" data-image-height="1500">
                    <img class="u-back-image u-back-image-2"
                         src="~/images/mockup-frames-living-room-interior-with-chair-decorscandinavian-style.jpg">
                </div>
                <div class="u-over-slide u-shading u-over-slide-2"></div>
            </div>
            <div class="u-effect-hover-zoom u-gallery-item u-gallery-item-3">
                <div class="u-back-slide" data-image-width="2000" data-image-height="1333">
                    <img class="u-back-image u-back-image-3" src="~/images/interior-design-with-photoframes-couch.jpg">
                </div>
                <div class="u-over-slide u-shading u-over-slide-3"></div>
            </div>
            <div class="u-effect-hover-zoom u-gallery-item u-gallery-item-4">
                <div class="u-back-slide" data-image-width="1335" data-image-height="2000">
                    <img class="u-back-image u-back-image-4" src="~/images/picture-frame-by-velvet-armchair.jpg">
                </div>
                <div class="u-over-slide u-shading u-over-slide-4"></div>
            </div>
            <div class="u-effect-hover-zoom u-gallery-item u-gallery-item-5" data-image-width="1600"
                 data-image-height="1067">
                <div class="u-back-slide u-back-slide-5">
                    <img class="u-back-image u-back-image-5" src="~/images/new2.jpg">
                </div>
                <div class="u-over-slide u-shading u-over-slide-5"></div>
            </div>
            <div class="u-effect-hover-zoom u-gallery-item u-gallery-item-6" data-image-width="1600"
                 data-image-height="1067">
                <div class="u-back-slide" data-image-width="740" data-image-height="1110">
                    <img class="u-back-image u-back-image-6"
                         src="~/images/multiethnic-designers-pose-against-window_273609-44877.jpg">
                </div>
                <div class="u-over-slide u-shading u-over-slide-6"></div>
            </div>
        </div>
        <a class="u-gallery-nav u-gallery-nav-prev u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-1"
           href="#" role="button">
            <span aria-hidden="true">
                <svg viewBox="0 0 451.847 451.847">
                    <path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path>
                </svg>
            </span>
            <span class="sr-only">
                <svg viewBox="0 0 451.847 451.847">
                    <path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path>
                </svg>
            </span>
        </a>
        <a class="u-gallery-nav u-gallery-nav-next u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-2"
           href="#" role="button">
            <span aria-hidden="true">
                <svg viewBox="0 0 451.846 451.847">
                    <path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path>
                </svg>
            </span>
            <span class="sr-only">
                <svg viewBox="0 0 451.846 451.847">
                    <path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path>
                </svg>
            </span>
        </a>
    </div>
</section>