@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/tech.css" media="screen">
</head>
<section class="u-clearfix u-section-1" id="sec-a462">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-align-left u-container-align-left u-container-align-right u-container-style u-layout-cell u-size-36 u-layout-cell-1">
                        <div class="u-container-layout u-valign-top-sm u-valign-top-xs u-container-layout-1">
                            <p class="u-text u-text-1">圖片敘述，評級，描述......等 </p>
                            <img class="custom-expanded u-expanded-width-lg u-expanded-width-xl u-image u-image-default u-image-1"
                                 src="~/images/pexels-nazila-21345908copy.jpg" alt="" data-image-width="2700" data-image-height="1409"
                                 data-animation-name="customAnimationIn" data-animation-duration="2000" data-animation-delay="0">
                        </div>
                    </div>
                    <div class="u-container-style u-layout-cell u-size-24 u-layout-cell-2">
                        <div class="u-container-layout u-valign-top-lg u-valign-top-md u-valign-top-xl u-container-layout-2">
                            <img class="u-image u-image-default u-image-2" src="~/images/2149846563.jpg" alt=""
                                 data-image-width="1000" data-image-height="1500" data-animation-name="customAnimationIn"
                                 data-animation-duration="2000" data-animation-delay="0">
                            <h5 class="u-text u-text-2"> 圖片敘述，評級，描述......等 </h5>
                            <p class="u-text u-text-3"> 圖片敘述，評級，描述......等 </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-section-2" id="sec-89bf">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-style u-layout-cell u-size-24 u-layout-cell-1">
                        <div class="u-container-layout u-valign-top u-container-layout-1">
                            <img class="u-image u-image-default u-image-1" src="~/images/42243.jpg" alt="" data-image-width="1333"
                                 data-image-height="2000" data-animation-name="customAnimationIn" data-animation-duration="2000"
                                 data-animation-delay="0">
                            <h5 class="u-text u-text-1"> 圖片敘述，評級，描述......等 </h5>
                            <p class="u-text u-text-2"> 圖片敘述，評級，描述......等 </p>
                        </div>
                    </div>
                    <div class="u-align-right u-container-align-right u-container-style u-layout-cell u-size-36 u-layout-cell-2">
                        <div class="u-container-layout u-valign-top-sm u-valign-top-xs u-container-layout-2">
                            <p class="u-text u-text-3"> 圖片敘述，評級，描述......等 </p>
                            <img class="u-expanded-width u-image u-image-default u-image-2" src="~/images/16501.jpg" alt=""
                                 data-image-width="2000" data-image-height="1333" data-animation-name="fadeIn"
                                 data-animation-duration="2000" data-animation-delay="0">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-section-3" id="carousel_1110">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-align-left u-container-align-left u-container-align-right u-container-style u-layout-cell u-size-36 u-layout-cell-1">
                        <div class="u-container-layout u-valign-top-sm u-valign-top-xs u-container-layout-1">
                            <p class="u-text u-text-1"> 圖片敘述，評級，描述......等 </p>
                            <img class="custom-expanded u-expanded-width-lg u-expanded-width-xl u-image u-image-default u-image-1"
                                 src="~/images/2151235300.jpg" alt="" data-image-width="1506" data-image-height="2000"
                                 data-animation-name="customAnimationIn" data-animation-duration="2000" data-animation-delay="0">
                        </div>
                    </div>
                    <div class="u-container-style u-layout-cell u-size-24 u-layout-cell-2">
                        <div class="u-container-layout u-valign-top-lg u-valign-top-md u-valign-top-xl u-container-layout-2">
                            <img class="u-image u-image-default u-image-2" src="~/images/129373.jpg" alt="" data-image-width="1125"
                                 data-image-height="2000" data-animation-name="customAnimationIn" data-animation-duration="2000"
                                 data-animation-delay="0">
                            <h5 class="u-text u-text-2"> 圖片敘述，評級，描述......等 </h5>
                            <p class="u-text u-text-3"> 圖片敘述，評級，描述......等 </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-section-4" id="carousel_483a">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-style u-layout-cell u-size-24 u-layout-cell-1">
                        <div class="u-container-layout u-valign-top u-container-layout-1">
                            <img class="u-image u-image-default u-image-1" src="~/images/3.png" alt="" data-image-width="926"
                                 data-image-height="925" data-animation-name="customAnimationIn" data-animation-duration="2000"
                                 data-animation-delay="0">
                            <h5 class="u-text u-text-1"> 圖片敘述，評級，描述......等 </h5>
                            <p class="u-text u-text-2"> 圖片敘述，評級，描述......等 </p>
                        </div>
                    </div>
                    <div class="u-align-right u-container-align-right u-container-style u-layout-cell u-size-36 u-layout-cell-2">
                        <div class="u-container-layout u-valign-top-sm u-valign-top-xs u-container-layout-2">
                            <p class="u-text u-text-3"> 圖片敘述，評級，描述......等 </p>
                            <img class="u-expanded-width u-image u-image-default u-image-2" src="~/images/125902.jpg" alt=""
                                 data-image-width="2000" data-image-height="1334" data-animation-name="fadeIn"
                                 data-animation-duration="2000" data-animation-delay="0">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
